@charset "UTF-8";

body {
    font-family: "Century Gothic", sans-serif;
    font-size: 14px;
    color: #333;
    -webkit-text-size-adjust: 100%;
    margin-top: 0;
}

input[type="text"], input[type="password"] {
    padding: 2px;
    font-family: Menlo, Consolas, Courier, monospace;
    font-size: 100%;
}
input[type="submit"] {
    padding: 2px 1em;
    background: #080;
    color: white;
    font-size: 100%;
}

h1 {
    margin-top: 0.5em;
    font-size: 240%;
    border-bottom: solid 2px #080;
}
h2 {
    font-size: 180%;
    padding-left: 0.5em;
    border-left: solid 6px #080;
}

table {
    border-collapse: collapse;
    border-top:    solid 1px #080;
    border-bottom: solid 1px #080;
}
tbody {
    border-top: solid 1px #080;
}
tr + tr {
    border-top: solid 1px #9c9;
}
th, td {
    padding: 2px 0.5em;
}
th {
    background: #cfc;
}

dt {
    font-weight: bold;
}

#ll-toolbar {
    font-size: 90%;
    border-bottom: solid 1px #9c9;
}
#ll-toolbar .ll-home img {
    height: 24px;
}
#ll-toolbar ul {
    margin: 2px;
    float: right;
}
#ll-toolbar::after {
    display: block;
    content: '';
    clear: both;
}
#ll-toolbar li {
    display: inline;
    margin-left: 0.5em;
}
#ll-toolbar ul a {
    text-decoration: none;
    display: inline-block;
    padding: 2px;
}
#ll-toolbar ul a:link,
#ll-toolbar ul a:visited {
    color: #090;
}
#ll-toolbar ul a:hover {
    color: white;
    background: #090;
}
#ll-toolbar hr {
    display: none;
}

#ll-footer {
    margin-top: 1em;
    border-top: solid 1px #9c9;
    color: #090;
    text-align: right;
}
#ll-footer hr {
    display: none;
}

#ll-path {
    margin: 1em auto;
}

#ll-folder {
    min-width: 800px;
}
#ll-folder th.ll-asc,
#ll-folder th.ll-desc {
    background: #afa;
}
#ll-folder th.ll-asc a,
#ll-folder th.ll-desc a {
    background: no-repeat right center;
    background-size: 0.6em;
}
#ll-folder th.ll-asc a {
    background-image: url(icon-chevron-up.png);
}
#ll-folder th.ll-desc a {
    background-image: url(icon-chevron-down.png);
}
#ll-folder th a {
    display: block;
    text-decoration: none;
    color: inherit;
}
#ll-folder tbody .ll-time,
#ll-folder tbody .ll-size {
    text-align: right;
}
#ll-folder td {
    padding: 2px 1em;
}

.ll-error {
    color: red;
}
